body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.footer {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #ffffff;
}
@media (max-width: 350px) {
    .footer {
        flex-direction: column;
    }
}

.footer-author {
    text-decoration: none;
    color: #c7c7c7;
    transition: color 0.3s;
}

.footer-author:hover {
    color: #ffffff;
}

.rs-school {
    width: 70px;
    height: auto;
    padding: 2px;
    /* margin-right: $padding; */
    background-color: #c7c7c7;
    transition: background-color 0.3s;
}

.rs-school:hover {
    background-color: #ffffff;
}
